@import "./components/CommentSection/commentsection";
@import "./components/PostContainer/postcontainer";
@import "./components/SearchBar/searchbar.scss";

//taken from index css
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  header{
    border-bottom: 1px solid #ddd;
  }
}

.app-header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  .logo {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
  }
  .header {
    width: 24px;
    height: 24px;
    background-image: url("insta.png");
    display: inline-block;
  }
  .insta-logo {
    background-position: -239px -202px;
    align-self: flex-start;
  }
  .instagram {
    background-position: -94px -72px;
    width: 103px;
    height: 29px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
