@import "./components/CommentSection/commentsection";
@import "./components/PostContainer/postcontainer";
@import "./components/SearchBar/searchbar.scss";

//taken from index css
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;
  header{
    border-bottom: 1px solid #ddd;
  }
}

.app-header {

  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  @media(min-width: 800px){
    height: 80px;
    align-items: center;
    flex-direction: row;

    width: 70%;
  }
  .logo {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between;
  }
  .header {
    width: 24px;
    height: 24px;
    background-image: url("insta.png");
    display: inline-block;
  }

  .insta-logo {
    background-position: -239px -202px;
    align-self: flex-start;
  }
  .instagram {
    background-position: -94px -72px;
    width: 103px;
    height: 29px;
  }
}
.account {
  width: 70%;
  display: flex;
  justify-content: space-between;
  @media(min-width: 800px){
    width: 150px;

  }
  .compass {
    background-position: -373px -260px;
  }
  .heart {
    background-position: 76px -234px;

  }
  .profile {
    background-position: -52px -285px;
  }
  .logout {
    height: 24px;
    padding: 0 5px;
  }
}

#login {
  text-align: left;
  width: 90%;
  border: 1px solid #000;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  button{
    margin-top: 20px;
    background: lightgreen;
    border-style: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
  }
  @media(min-width: 800px){
    width: 40%;
  }
}
