.comment-username {
  font-size: 1.1rem;
  font-weight: 600; }

.comment-section {
  margin: 20px;
  margin-top: 0; }

.comment {
  margin: 5px 0; }
  .comment .posted {
    font-size: .8rem;
    color: #bbb; }

input {
  border: none;
  margin: 5px 0;
  width: 100%;
  outline: none;
  transition: all .3s ease-out; }

.post {
  width: 95%;
  min-height: 600px;
  margin: 20px auto;
  background: teal;
  text-align: left;
  display: flex;
  flex-direction: column; }
  @media (min-width: 800px) {
    .post {
      width: 40%;
      margin: 100px auto; } }
  .post header {
    display: flex;
    padding: 15px 20px;
    align-items: center; }
    .post header img {
      max-width: 30px;
      max-height: 30px;
      object-fit: cover;
      border-radius: 50%; }
  .post h4 {
    margin: 0 10px; }
  .post img {
    object-fit: cover;
    width: 100%; }
  .post .actions {
    margin-top: 20px;
    margin-left: 15px; }
    .post .actions span {
      display: inline-block; }
    .post .actions .action {
      width: 24px;
      height: 24px;
      background-image: url("insta.png");
      margin: 0 5px; }
    .post .actions .like {
      background-position: -271px -234px; }
    .post .actions .filled {
      background-position: -271px -208px; }
    .post .actions .comment-bubble {
      background-position: -161px -202px; }
    .post .actions .likes {
      font-size: .9rem;
      font-weight: 600;
      padding-left: 5px; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.App {
  text-align: center; }
  .App header {
    border-bottom: 1px solid #ddd; }

.app-header {
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto; }
  @media (min-width: 800px) {
    .app-header {
      height: 80px;
      align-items: center;
      flex-direction: row;
      width: 70%; } }
  .app-header .logo {
    display: flex;
    align-items: center;
    width: 150px;
    justify-content: space-between; }
  .app-header .header {
    width: 24px;
    height: 24px;
    background-image: url("insta.png");
    display: inline-block; }
  .app-header .insta-logo {
    background-position: -239px -202px;
    align-self: flex-start; }
  .app-header .instagram {
    background-position: -94px -72px;
    width: 103px;
    height: 29px; }

.account {
  width: 70%;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 800px) {
    .account {
      width: 150px; } }
  .account .compass {
    background-position: -373px -260px; }
  .account .heart {
    background-position: 76px -234px; }
  .account .profile {
    background-position: -52px -285px; }
  .account .logout {
    height: 24px;
    padding: 0 5px; }

#login {
  text-align: left;
  width: 90%;
  border: 1px solid #000;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px; }
  #login button {
    margin-top: 20px;
    background: lightgreen;
    border-style: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px; }
  @media (min-width: 800px) {
    #login {
      width: 40%; } }

/*# sourceMappingURL=index.css.map */
