.post{
    width:95%;
    min-height: 600px;
    margin: 20px auto;
    background: teal;
    text-align: left;
    display: flex;
    flex-direction: column;
    @media (min-width: 800px) {
        width: 30%;
        margin: 100px auto;
    }
    header{
        display: flex;
        padding: 15px 20px;
        align-items: center;
        img {
            max-width: 30px;
            max-height: 30px;
            object-fit: cover;
            border-radius: 50%;

        }
    }
    h4 {
        margin: 0 10px;
    }
    img{
        object-fit: cover;
        width: 100%;
    }
}